<!doctype html>
<html lang="id">
    <head>
        <title>Pengajuan Baru - Sicerdas</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta content="#ffffff" name="theme-color" />
        <meta content="#ffffff" name="msapplication-navbutton-color" />
        <meta content="#ffffff" name="apple-mobile-web-app-status-bar-style" />
        <meta name="msapplication-TileColor" content="#ffffff" />
        <meta name="google" content="nositelinkssearchbox" />
        <meta content="Rio Agung Purnomo" name="author" />
        <meta
            content="Menuju Zona Integritas Wilayah Bebas Korupsi dan Wilayah Birokrasi Bersih Melayani."
            name="description"
        />
        <meta content="SICERDAS" name="keywords" />
        <link rel="preconnect" href="https://www.google.com" crossorigin />
        <link rel="preconnect" href="https://fonts.google.com" crossorigin />
        <link
            rel="preconnect"
            href="https://www.google-analytics.com"
            crossorigin
        />
        <link
            rel="preconnect"
            href="https://www.googletagmanager.com"
            crossorigin
        />
        <link
            rel="preconnect"
            href="https://stats-g-doubleclick.net"
            crossorigin
        />
        <link
            rel="preconnect"
            href="https://sicerdas.rioagungpurnomo.github.io"
        />
        <link rel="dns-prefetch" href="https://www.google-analytics.com" />
        <link rel="dns-prefetch" href="https://www.google.com" />
        <link
            rel="canonical"
            href="https://sicerdas.rioagungpurnomo.github.io"
        />
        <meta property="og:site_name" content="Pengajuan Baru - Sicerdas" />
        <meta property="og:title" content="Pengajuan Baru - Sicerdas" />
        <meta
            property="og:description"
            content="Menuju Zona Integritas Wilayah Bebas Korupsi dan Wilayah Birokrasi Bersih Melayani."
        />
        <meta property="og:locale" content="id_ID" />
        <meta property="og:locale:alternate" content="ms_MY" />
        <meta property="og:type" content="website" />
        <meta
            property="og:url"
            content="https://sicerdas.rioagungpurnomo.github.io"
        />
        <meta name="image" content="assets/img/thumbnail.png" />
        <meta property="og:image" content="assets/img/thumbnail.png" />
        <meta
            property="og:image:secure_url"
            content="assets/img/thumbnail.png"
        />
        <meta property="og:image:alt" content="Pengajuan Baru - Sicerdas" />
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:url"
            content="https://sicerdas.rioagungpurnomo.github.io"
        />
        <meta name="twitter:image" content="assets/img/thumbnail.png" />
        <meta name="twitter:image:src" content="assets/img/thumbnail.png" />
        <meta name="twitter:title" content="Pengajuan Baru - Sicerdas" />
        <meta
            name="twitter:description"
            content="Menuju Zona Integritas Wilayah Bebas Korupsi dan Wilayah Birokrasi Bersih Melayani."
        />
        <meta itemprop="image" content="assets/img/thumbnail.png" />
        <meta itemprop="name" content="Pengajuan Baru - Sicerdas" />
        <meta
            itemprop="description"
            content="Menuju Zona Integritas Wilayah Bebas Korupsi dan Wilayah Birokrasi Bersih Melayani."
        />
        <meta
            name="description"
            content="Menuju Zona Integritas Wilayah Bebas Korupsi dan Wilayah Birokrasi Bersih Melayani."
        />
        <meta content name="copyright" />
        <meta content="indonesian" name="language" />
        <meta content="index, follow" name="robots" />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="assets/img/favicons/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="assets/img/favicons/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="assets/img/favicons/favicon-16x16.png"
        />
        <link rel="manifest" href="assets/img/favicons/site.webmanifest" />
        <link rel="shortcut icon" href="assets/img/favicons/favicon.ico" />
        <link rel="stylesheet" href="assets/css/bootstrap.min.css" />

        <link rel="stylesheet" href="assets/css/boxicons.min.css" />

        <link rel="stylesheet" href="assets/css/meanmenu.min.css" />

        <link rel="stylesheet" href="assets/css/nice-select.css" />

        <link rel="stylesheet" href="assets/css/animate.min.css" />

        <link rel="stylesheet" href="assets/css/owl.carousel.min.css" />

        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css" />

        <link rel="stylesheet" href="assets/css/magnific-popup.min.css" />

        <link
            rel="stylesheet"
            href="assets/css/jquery.datetimepicker.min.css"
        />

        <link rel="stylesheet" href="assets/css/style.css" />

        <link rel="stylesheet" href="assets/css/responsive.css" />

        <link rel="stylesheet" href="assets/css/theme-dark.css" />
    </head>
    <body id="home" class="bg-color">
        <div class="preloader">
            <div class="container">
                <div class="d-table">
                    <div class="d-table-cell">
                        <div class="preloader loading">
                            <span class="slice"></span>
                            <span class="slice"></span>
                            <span class="slice"></span>
                            <span class="slice"></span>
                            <span class="slice"></span>
                            <span class="slice"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banner-area ptb-100">
            <div class="container">
                <div
                    class="row align-items-center text-center justify-content-center"
                >
                    <div class="col-lg-6 col-12">
                        <img
                            src="assets/img/logo2.png"
                            alt="Sicerdas"
                            width="200"
                        />
                        <p class="mb-4 mt-3">
                            Pilih layanan, lengkapi seluruh form, dan juga
                            berkas anda agar dapat segera menindaklanjuti
                            pengajuan anda.
                        </p>
                        <div class="appointment-form">
                            <form action="verify.html" method="post">
                                <div
                                    class="row text-center justify-content-center"
                                >
                                    <div class="col-12">
                                        <div class="form-group">
                                            <select
                                                id="layanan"
                                                name="layanan"
                                                class="form-control"
                                            >
                                                <option>
                                                    Silakan Pilih Layanan
                                                </option>
                                                <option value="Layanan 1">
                                                    Layanan 1
                                                </option>
                                                <option
                                                    value="Layanan
                                                1"
                                                >
                                                    Layanan 2
                                                </option>
                                                <option
                                                    value="Layanan
                                                1"
                                                >
                                                    Layanan 3
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input
                                                class="form-control"
                                                type="email"
                                                name="email"
                                                placeholder="Masukkan Email Anda"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input
                                                class="form-control"
                                                type="number"
                                                name="phone"
                                                placeholder="Masukkan No WhatsApp Anda"
                                            />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <button
                                                type="submit"
                                                class="btn btn-primary w-100"
                                            >
                                                Selanjutnya
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="assets/js/jquery.min.js"></script>

        <script src="assets/js/bootstrap.bundle.min.js"></script>

        <script src="assets/js/jquery.magnific-popup.min.js"></script>

        <script src="assets/js/meanmenu.min.js"></script>

        <script src="assets/js/jquery.nice-select.min.js"></script>

        <script src="assets/js/owl.carousel.min.js"></script>

        <script src="assets/js/jquery.mixitup.min.js"></script>

        <script src="assets/js/jquery.datetimepicker.full.min.js"></script>

        <script src="assets/js/form-validator.min.js"></script>

        <script src="assets/js/contact-form-script.js"></script>

        <script src="assets/js/jquery.ajaxchimp.min.js"></script>

        <script src="assets/js/custom.js"></script>
    </body>
</html>
